nav {
    overflow: hidden;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

#main {
    margin: 10px;
}

hr {
    margin-left: 10px;
    margin-right: 10px;
    border-top: 1px solid;
    border-radius: 1px;
}

p, h2 {
    font-size: 18px;
}

footer {
    margin: 10px;
}

nav a {
    float: left;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

nav a:hover {
    text-decoration: underline;
}